.PaginationBar
    display: flex
    margin-block: 15px 
    button
        border: none
        background-color: #1d3d94
        color: #e8e5ec
        font-weight: bold
        cursor: pointer
        padding: 5px
        padding-inline: 10px
    button:hover
        background-color: #4260b3
    .btn_left
        border-radius: 50px 0px 0px 50px
    .btn_right
        border-radius: 0px 50px 50px 0px

    .currentPage
        background-color: #e8e5ec
        color: #1d3d94
        transform: scale(120%)
    .currentPage:hover
        background-color: #e8e5ec
    