$color: #ff00c8

.PaginationBar
    display: flex
    margin-block: 15px
    margin-top: 0px
    button
        border: none
        background-color: #1d3d94
        color: #e8e5ec
        font-weight: bold
        cursor: pointer
        padding: 5px
        padding-inline: 10px
    button:hover
        background-color: #4260b3
    .btn_left
        color: #af81eb
        border-radius: 50px 0px 0px 50px
    .btn_right
        color: #af81eb
        border-radius: 0px 50px 50px 0px
    .btn_fill
        cursor: default
    .btn_fill:hover
        background-color: #1d3d94
    .currentPage
        background-color: #e8e5ec
        border-radius: 5px
        color: #1d3d94
        box-shadow: 0px 1px 10px 1px $color
        transform: scale(120%)
    .currentPage:hover
        background-color: #e8e5ec

.results
    color: #e8e5ec
    background-color: #733db9
    border-radius: 50px 50px 0 50px
    padding: 5px
    padding-inline: 20px
    display: flex
    align-items: center
    gap: 10px 
    cursor: pointer
    box-shadow: inset 0px -15px 10px -15px #00000078
    transition: all 0.2s ease-in-out
    span
        font-weight: bold
        color: $color
    button
        border-radius: 50px
        height: 30px
        width: 30px
.results:hover
    background-color: #945eda

    