.Home
    background-color: #242238
    background-image: linear-gradient(to right bottom, #051937, #00225c, #162680, #4123a0, #7100bb)
    .content
        width: 1100px
        margin: auto
        .testFilter
            display: flex