.Home
    background-image: url('../../assets/BG-waves.svg')
    min-height: 100vh
    background-size: cover
    .content
        width: 1200px
        margin: auto
        .Filter
            padding-top: 90px
            display: flex
            justify-content: right