$color: #2600ff

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
  

.NotFound
    background-color: #000
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-image: url('../../assets/not-found.png')
    background-repeat: no-repeat
    background-size: cover
    h1, h2
        font-family: "Press Start 2P", sans-serif
        font-size: 60px
        color: #e6e6fb
        text-shadow:  0 0 100px #fff, 0 0 42px $color, 0 0 82px $color, 0 0 92px $color, 0 0 102px $color
        margin-bottom: 50px
    a
        color: #e6e6fb
        font-size: 20px
        transition: all 0.3s ease
    a:hover
        transform: scale(110%)
        cursor: pointer

